* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/web/JetBrainsMono-Regular.woff');

:root {
  --sans: 'Inter', sans-serif;
  --serif: 'Merriweather', serif;
  --mono: 'JetBrains Mono', monospace;
  --bg: #1f2124;
  --main: #3f8ee8;
  --red: #e73838;
  --orange: #ee6630;
  --yellow: #fdd03d;
  --green: #70ce63;
  --cyan: #5edfc3;
  --aqua: #6bf5ff;
  --lightblue: #5db6ff;
  --darkblue: #6048c9;
  --purple: #7c419e;
  --magenta: #ca44ca;
  --pink: #fc298b;
  --lobster: #da385b;
  --lbg: #363A40;
  --cnt: #eeeeee;
  --lcnt: #bbbbbb;
}

body {
  background-color: var(--bg);
  color: var(--cnt);
  font-family: var(--sans);
  margin: 0;
}

a {
  color: var(--lcnt);
  text-decoration: underline;
}

a:hover {
  color: var(--cnt);
}

h1 {
  font-size: 48px;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
  min-width: 110px;
  min-height: 38px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--cnt);
  font-size: 16px;
  font-family: var(--sans);
  font-weight: bold;
  border: 1px solid var(--main);
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.1s ease-in-out;
}

.hero button {
  min-height: 64px;
  min-width: 220px;
  font-size: 26px;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.nav a {
  color: var(--lcnt);
  font-family: var(--mono);
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.nav a:hover {
  color: var(--cnt);
}

.nav button {
  font-family: var(--mono);
  font-size: 16px;
  margin-left: 20px;
}

button:hover {
  background-color: var(--main);
}

button:active {
  transform: translateY(1px);
}

.donate-button {
  border: 1px solid var(--lobster);
}

.donate-button:hover {
  background-color: var(--lobster);
}

.title {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.title img {
  width: 50px;
}

.title h1 {
  margin-left: 20px;
  font-size: 38px;
}

.bar {
  margin-left: 8%;
}

.hero {
  margin: auto;
  text-align: center;
  margin-top: 100px;
  width: 800px;
}

.hero p {
  font-size: 26px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  min-height: 200px;
  max-width: 480px;
  padding: 20px;
  border: 1px solid var(--lbg);
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.post-header h2 {
  border-left: 2px solid var(--main);
  padding-left: 10px;
  margin-bottom: 10px;
}